#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Author  : JinHua
# @Date    : ${date}
# @Contact : hgu_autotestc103@fiberhome.com
# @Site    :
# @File    : ${saved_filename}
# @Software: PyCharm
# @Desc    :
# @license : Copyright(C), cienet
# @Version : \$Id\$
